@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Variáveis */
:root {
    /* Paleta de cores */
    --cor-principal: #d94fff;
    --cor-destaque: #ff447f;
    --cor-01: #f9f9f9;
    --cor-02: #b2c0d3;
    --cor-03: #677286;
    --cor-04: #1a1e27;
    --cor-05: #13161cba;
    --cor-06: #006aff;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: var(--cor-04);
    color: var(--cor-01);
}

/* Navbar (fixa) */
nav {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    padding: 0 4rem;
    background-color: var(--cor-05);

    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        justify-content: right;
        gap: 0.3rem;
        list-style-type: none;
    }

    a {
        padding: 0.5rem;
        color: var(--cor-01);
        font-size: 1.3rem; /* Tamanho da letra */
        letter-spacing: 0.05rem; /* Afastamento das letras */
        transition: 0.3s;
        /* transition: 350ms; (1 segundo == 1000 milissegundos) */

        &:hover {
            color: var(--cor-destaque);
        }
    }

    .logo {
        height: 3rem;
    }

    /* h1, p {
        margin: 1rem 0;
        text-align: center;
    } */

}


.h2-planos{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    padding: 1rem;
    color: var(--cor-principal);
}
.Planos{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    height: 60vh;


    

    h2{
        color: #1A1E27;
    }

    .basico{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        background-color: #F9F9F9;
        width: 17rem;
        height: 18rem;
       

        border-radius: 0.4rem;

        h3{
            color: var(--cor-03);
            padding-top: 1rem;
            font-size: 1.4rem;
        }

        h2{
            padding-top: 2rem;
        }
        
    }

    .plus{
        display: flex;
        flex-direction: column;
        text-align: center;

        background-color: #f9f9f9;
        width: 17rem;
        height: 18rem;

        border-radius: 0.4rem;

        h3{
            color: var(--cor-06);
            padding-top: 1rem;
            font-size: 1.4rem;
        }

        h2{
            padding-top: 2rem;
        }
    }

    .premium{
        display: flex;
        flex-direction: column;
        text-align: center;

        background-color: #F9F9F9;
        width: 17rem;
        height: 18rem;

        border-radius: 0.4rem;

        h3{
            color: var(--cor-destaque);
            padding-top: 1rem;
            font-size: 1.4rem;
        }

        h2{
            padding-top: 2rem;
            
        }

        
    }

    p{
        color: #1A1E27;
        padding-top: 2.5rem;
        padding-bottom: 1rem;
    }

    button{
        margin-top: 1rem;
        margin-right: 0.7rem;
        margin-left: 0.7rem;
        border-radius: 1.5rem;
        padding: 0.8rem;
        font-weight: bold;
        color: var(--cor-03);
        border: solid;
        border-color: var(--cor-02);
        transition: transform 0.3s ease;
        
    }

    button:hover{
        cursor: pointer;
        transform: scale(1.1);
        
    }


    
}